*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

header {
    background: purple;
    padding: 50;
}

header > h1 {
    color: red;
    text-align: center;
    font-family: sans-serif;
}


.badge{
    color: maroon;
}

.score-board {
    margin: 20px auto;
    border: 3px solid magenta;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size:  46px;
    padding: 15px 20px;
    font-family: sans-serif;


}